sqlite: 
  adapter: sqlite3
  database: ':memory:'
  timeout: 500

mysql:
  adapter: mysql2
  database: 'mg_test'
  username: root

postgresql:
  adapter: postgresql
  database: 'mg_test'
  username: postgres